/* styles by: Jhon Diaz */
/*
    FONTS
    font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

*/

body,html{
    padding: 0px;
    margin: 0px;

}

.top-container {

    background-image: url("../img/paisaje.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:300px;
    padding:50px;
    text-align: center;

}

.top-container__titulo{
    position: absolute;
    left: 0;
    top:30%;
    text-align: center;
    width: 100%;


}

.top-container__titulo span{

    color:#fff;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    padding:20px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;

}